<!DOCTYPE HTML>
<html lang="en">		
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<title>Haido!</title>
	<style>
		p{text-align:right;margin-top:3em;font-weight:bold;font-size:150%;}			
	</style>
</head>

<body>
	<div id="map">
		<a class="current" href="./" style="float:left;">Haido!</a>
	</div>
	
	<h1 style="text-align:center;margin-top:10%;font-size:600%;">Welcome to Haido!</h1>
	<h2 style="text-align:center;font-size:400%;">What is Haido?</h2>
	<h3 style="text-align:center;font-size:200%;">Haido is an app, which you can trade papers on and earn Haido tokens as rewards.</h3>
</body>
</html>