<!DOCTYPE HTML>
<html lang="en">		
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="utf-8"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static',filename='haido.ico') }}"/>
	<title>Haido!</title>
	<style>
		h1,h2{
			font-family:"calibri","sans serif";
			font-size:200%;
			color:rgb(0, 0, 0);
		}
		h2{
			font-weight: normal;
		}
	</style>
</head>

<body>
	<div id="map">
		<a class="current" href="./" style="float:left;">Haido!</a>
	</div>
	<img src="{{url_for('static',filename='css/haido.jpg')}}" style="float:right;clear:right;margin-left:20px;margin-top: 30px;">
	<h1 style="text-align:center;">What is Haido?</h1>
	<h2 style="text-align:center;">Haido is an app, which you can trade papers on and earn Haido tokens as rewards.</h2>
	<h1 style="text-align:center;">Who are we?</h1>
	<h2 style="text-align:center;">We are students at Istanbul Technical University and we study computer engineering. This is our project for Technology & Innovation Management for Information Technologies lecture. Our group members are: Metin Muhammed Atmaca, Ömer Faruk Davarcı, Semih Tutuş.</h2>
	<h1 style="text-align:center;">Get in contact:</h1>
	<h2 style="text-align:center;">Metin M. Atmaca: atmacam16@itu.edu.tr</h2>
	<h2 style="text-align:center;">Ömer Faruk Davarcı: davarci@itu.edu.tr</h2>
	<h2 style="text-align:center;">Semih Tutuş: tutus@itu.edu.tr</h2>
</body>
</html>